<style>
.content a {
  color: #3873AD;
}
.content .section-header a,
.content .search-results a {
  color: #000;
}
</style>

<nav class="sidebar">

  <p class='location'><a href='index.html'>{{name}}</a></p>
    <script defer src="../sidebar-items.js"></script>
</nav>

<nav class="sub">
		<form class="search-form js-only">
				<div class="search-container">
						<input class="search-input" name="search"
									 autocomplete="off"
									 placeholder="Click or press ‘S’ to search, ‘?’ for more options…"
									 type="search">
				</div>
		</form>
</nav>

<section id='main' class="content fn">


